<div class="map" *ngIf="users$ | async as users">
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom">
  <agm-marker *ngFor="let user of users.result; let i = index"
              [label]="(i + 1).toString()+'\u200b' "
              [latitude]="user?.lat"
              [longitude]="user?.lon">
    <agm-info-window>
      <strong>User info</strong>
      <p>{{user.id}}</p>
      <p>{{user.firstName}}</p>
      <p>{{user.lastName}}</p>
      <p>{{user.city}}</p>
      <p>{{user.email}}</p>
      <a [routerLink]="['../user/', (i+1)]">Details</a>
    </agm-info-window>
  </agm-marker>
</agm-map>
</div>
