.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.current-user {
  border: 1px solid gray;
  width: 400px;
  margin: 20px;
  overflow: hidden;
}

img {
  width: 100px;
  height: 100px;
}

input {
  margin-left: 1rem;
  width: 50%;
}
