<nav class="navbar bg-primary">
  <h1>
   Test work
  </h1>
  <ng-container *ngIf="authService.isAuthenticated(); else login">
<!-- <form>
    <mat-form-field (submit)="performSearch($event)" id="search-input" appearance="outline">
      <input matInput #searchBar type="text" [(ngModel)]="searchValue" name="searchBar" [value]="searchValue" (keyup.enter)="performSearch($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="performSearch(searchValue)" type="submit" for="searchBar">Submit</button>
</form> -->

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/map']">Map</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/users']">Users</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/profile']">Profile</a>
    </li>

    <li routerLinkActive="active">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
   </ul>
  </ng-container>

  <ng-template #login>
    <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/register']">Register</a>
    </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<router-outlet></router-outlet>
