<div>
  <mat-paginator
               [length]="resultLength"
               [pageSize]="pageSize"
               (page)="onPageChanged($event)"
               showFirstLastButtons>
</mat-paginator>
</div>
<ng-container *ngIf="users$ | async as users">
  <mat-card  *ngFor="let user of users.result" class="current-user" [routerLink]="['../users/user/' + user.id]">
    <mat-card-title>{{user?.firstName}}</mat-card-title>
    <mat-card-content>
      <img [src]="user.image">
      <p>{{user?.id}}</p>
      <p>{{user?.city}}</p>
      <p>{{user?.country}}</p>
      <p>{{user?.lastName}}</p>
      <p>{{user?.email}}</p>
    </mat-card-content>
</mat-card>
</ng-container>






